# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
dist/Release
.eslintcache

node_modules

# OSX
.DS_Store

dist
/app/app.js
/app/main.js
/app/**/*.map

.idea
npm-debug.log.*
*.css.d.ts
*.sass.d.ts
*.scss.d.ts
*.tgz
